@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


.card {
    cursor: pointer;
    background-color: transparent !important;
    height: 300px;
    perspective: 1000px;
    /* margin-top: 75px; */
    margin-top:2rem;
    
  }
  
  .card h1 {
    font-size: 23px;
    border-bottom: 1px #fff solid;
    padding-bottom: 3px;
    margin-bottom: 3px;
  }
  
  .card p {
    font-family: poppins;
    font-size: 16px;
    text-align: left;
  }

  .card a{
    font-size: 1rem;
    font-family: poppins;
    float: left;
  }

  .card a:hover{
    text-decoration: none;
  }

  .card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 0% 3%;
  }
  
  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .card:hover .card-inner {
    transform: rotateY(180deg);
  }
  
  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .card-back {
    background-color: transparent;
    color: white;
    padding: 2px;
    transform: rotateY(180deg);
    text-shadow: 2px 2px 8px #000000;
  }

