@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.depository-el {
    font-family: monospace;
    font-size:20px;
    overflow:hidden;
    width:100vw;
    padding:6% 6%;
  }


  
  

