@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');



.round-img {
  border-radius: 50%;
  /* max-width: 100px; */
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

  .background-screen {
    box-sizing:border-box;
    font-family: monospace;
    font-size:20px;
    overflow:hidden;
    padding:23vmin;
    width:100vw;
  }
  
.hero{
  display: flex;
  font-size: 25px;
}

  
.hero-btn{
  background-color: white;
  
}
  

