.badge-el{
    height:50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.badge-table {
    width:100vw;
    position:absolute;
    display: flex;
    justify-content: space-around;
   
    padding: 0 10%;
}

.badge-list{
    display: grid;
    justify-content: center;
    
}

.badge-list img {
    position: relative;
    display: inline-flex;
    justify-content: center;
}

.badge-item,
h5 {
    display: flex;
    justify-content: center;
}

h5 {
    color:white;
}
