@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');


.background-img {
  background-image:url(../images/SIXTH-EXTINCTION_CARD2.jpg);
  background-size: cover;
  box-shadow:0 0 5vmin 1vmin #000 inset;
  box-sizing:border-box;
  font-family: monospace;
  font-size:20px;
  height:100vh;
  overflow:hidden;
  padding: 0;
  
}

.round-img {
  border-radius: 50%;
  max-width: 100px;
}

.mono-font {
  font-family: 'Orbitron', monospace;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.mt {
  margin-top: 75px;
}


body {
    background-color:#000;
    margin:0;
    padding:0;
  }

  .text-color {
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px 8px #000000;
  }

  .project-card {
    width: 18rem;
  }

  .background-screen {
    /* background-image:radial-gradient(rgb(36, 36, 36), rgb(0, 0, 0)); */
    box-shadow:0 10 30vmin 10vmin rgb(90, 80, 80) inset;
    box-sizing:border-box;
    font-family: monospace;
    font-size:20px;
    height:150vh;
    overflow:hidden;
    padding:5vmin;
    width:100vw;
  }


  
  .screen {
    animation:colorPulse 5s infinite ease-in-out;
    /* background-image:radial-gradient(rgb(61, 61, 61), rgb(0, 0, 0)); */
    background-size: cover;
    /* background-image:url(../images/SIXTH-EXTINCTION_CARD2.jpg); */
    box-shadow:0 0 10vmin 5vmin #000 inset;
    box-sizing:border-box;
    font-family: monospace;
    font-size:20px;
    height:100vh;
    padding:10vmin;
    /* width:100vw; */
  }
  

